# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/

# Data & artifacts
data/
*.h5
*.hdf5
*.ckpt
*.pt
*.pth
*.joblib

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/
.idea/
